{% extends "padre.html" %}


{% block title %}
    Listar clientes
{% endblock %}

{% block active1 %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" colspan="4" class="text-center"><h3>Clientes</h3></th>
                <th scope="col">
                    <button class="btn btn-success btn-circle" type="button"
                            onclick="abrir_modal_creacion('{% url "AddCustomer" %}')">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>

            </tr>
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>

            </thead>
            <tbody>
            {% for cli in clientes %}
                <tr>
                <th scope="row">{{ cli.Documento }}</th>
                <td>{{ cli.Nombre }}</td>
                <td>{{ cli.Apellido }}</td>
                <td>{{ cli.Telefono }}</td>

                <td>
                    <button class="btn btn-success btn-circle"
                            onclick="abrir_modal_edicion('{% url 'UpdateCustomer' cli.IdCliente %}')">
                        <i class="fas fa-pen"> </i>
                    </button>

                    <a href="{% url 'DeleteCustomer' cli.IdCliente %}" class="ml-1">
                        <button class="btn btn-success btn-circle" type="button">
                            <i class="fas fa-trash"> </i>
                        </button>

                    </a>
                </td>

            {% endfor %}

            </tr>
            </tbody>
        </table>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal" role="dialog">

    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();

        function abrir_modal_edicion(url) {
            $('#modal').load(url, function () {
                $(this).modal('show');
            });
        }
    </script>

    <script type="text/javascript">
        var $ = jQuery.noConflict();

        function abrir_modal_creacion(url) {
            $('#modal').load(url, function () {
                $(this).modal('show');
            });
        }
    </script>
{% endblock %}