{% extends "padre.html" %}


{% block title %}
    Listar Productos
{% endblock %}
{% block active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" colspan="7" class="text-center"><h3>Productos</h3></th>
                <th scope="col">
                    <button class="btn btn-success btn-circle" type="button" data-bs-toggle="modal"
                            data-bs-target="#AgregarProductos">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>

            </tr>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Categoria</th>
                <th scope="col">Marca</th>
                <th scope="col">Estado</th>
                <th scope="col">Peso</th>
                <th scope="col">Acciones</th>
            </tr>

            </thead>
            <tbody>
            {% for pro in producto %}
                <tr>
                <th scope="row">{{ pro.IdProducto }}</th>
                <td>{{ pro.Nombre }}</td>
                <td>{{ pro.Precio }}</td>
                <td>{{ pro.Stock }}</td>
                <td>{{ pro.Categoria }}</td>
                <td>{{ pro.Marca }}</td>
                <td>{{ pro.Estado }}</td>
                <td>{{ pro.Gramage }}</td>


                <td>
                    <button class="btn btn-success btn-circle" onclick="abrir_modal_edicion('{% url 'EditProducts' pro.IdProducto %}')">
                        <i class="fas fa-pen"> </i>
                    </button>

                    <a href="{% url 'DeleteProducts' pro.IdProducto %}" class="ml-1">
                        <button class="btn btn-success btn-circle" type="button">
                            <i class="fas fa-trash"> </i>
                        </button>

                    </a>
                </td>
            {% endfor %}
            </tr>


            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="AgregarProductos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="edicion" role="dialog">

    </div>



{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    var $ = jQuery.noConflict();
        function abrir_modal_edicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            });
        }
    </script>
{% endblock %}



