{% extends "padre.html" %}


{% block title %}
    Listar clientes
{% endblock %}

{% block active2 %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" colspan="4" class="text-center"><h3>Ventas</h3></th>
                <th scope="col">
                    <button class="btn btn-success btn-circle" type="button" onclick="abrir_modal_creacion('{% url "AddSale" %}')">
                        <i class="fas fa-plus"></i>
                    </button>

                </th>

            </tr>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>

            </thead>
            <tbody>
            {% for ven in ventas %}
                <tr>
                <th scope="row">{{ ven.IdVenta }}</th>
                <td>{{ ven.Cliente }}</td>
                <td>{{ ven.Valor }}</td>
                <td>{{ ven.Fecha }}</td>

                <td>
                    <button class="btn btn-success btn-circle"
                            onclick="abrir_modal_edicion('{% url 'UpdateSale' ven.IdVenta %}')">
                        <i class="fas fa-pen"> </i>
                    </button>

                    <a href="{% url 'DeleteSale' ven.IdVenta %}" class="ml-1">
                        <button class="btn btn-success btn-circle" type="button">
                            <i class="fas fa-trash"> </i>
                        </button>

                    </a>

                </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>



    <!-- Modal -->
    <div class="modal fade" id="modal" role="dialog">

    </div>



{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    var $ = jQuery.noConflict();
        function abrir_modal_edicion(url) {
            $('#modal').load(url, function () {
                $(this).modal('show');
            });
        }
    </script>

        <script type="text/javascript">
    var $ = jQuery.noConflict();
        function abrir_modal_creacion(url) {
            $('#modal').load(url, function () {
                $(this).modal('show');
            });
        }
    </script>

{% endblock %}