


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar venta: {{ object }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'UpdateSale' object.IdVenta %}">
                {% csrf_token %}
                <label for="">Cliente:</label>
                {{ form.Cliente }}
                <br>
                <label for="">Total:</label>
                {{ form.Valor }}
                <br>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>

        </div>
    </div>
</div>
