{% extends "padre.html" %}


{% block content %}
<div class="text-center">


    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar venta: {{ object }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}

                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1 }}

                    {{ form.new_password2.errors }}
                    <label for="id_new_password1">Confirme contraseña:</label>
                    {{ form.new_password2 }}
                    <input type="submit" value="Cambiar mi contraseña">
                </form>

                <h1 class="text-center"> Enlace invalido, este enlace ya ha sido utilizado</h1>


            </div>
        </div>
    </div>
</div>


{% endblock %}